 html,body{
	background-color: #415a77;
	overflow: auto;
}

.card{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%);
	background-color: #e0e1dd;
	padding: 30px;
	border: 3px solid #1d2d44;
	border-radius: 20px;
	box-shadow: 0 0 20px #1d2d44;
	text-align: center;
}

.card-img-top{
	max-height: 300px;
	max-width: 300px;
}

.card-title{
	padding-top: 15px;
}

#dropdownMenuButton1{
	margin-top: 20px;
}

.list-group{
	padding-top: 20px;
}

#compare-btn{
	margin-top: 20px;
}

#display-changes{
	padding-top: 5px;
	text-align: left;
}

#h-new{
	padding-top: 10px;
}

ul li:hover{
	background: #c3cdd9;
	cursor: pointer;
}

/*#ul-new li::before, #ul-chg li::before{
	content: "View";
	background: #c3cdd9;
	border-radius: 1ch;
  	padding-inline: 1ch;
  	margin-inline-end: 1ch;
}*/

p{
	background: #c3cdd9;
	border-radius: 1ch;
  	padding-inline: 1ch;
  	/*margin-inline-end: 1ch;*/
}